*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-size: inherit;
    font-family: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Verdana, Helvetica, sans-serif;
}

body {
    background: hsl(206, 13%, 11%);
    padding: 2rem;
    font-size: 0;
    color: hsl(0, 0%, 100%);
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.right-clickable {
    display: inline-block;
    vertical-align: top;
    margin-left: 2rem;
    font-size: 1.6rem;
}

.right-clickable:first-child {
    margin: 0;
}

.element {
    display: inline-block;
    vertical-align: top;
}

.context-menu {
    display: none;
    position: fixed;
    width: 24.6rem;
    padding: 1rem 0;
    border-radius: .6rem;
    background: hsl(212, 15%, 22%);
    color: hsl(0, 0%, 100%);
    font-size: 1.6rem;
}

.context-menu a {
    height: 4rem;
    padding: 0 2rem;
    color: inherit;

    display: flex;
    align-items: center;
}

.context-menu a:hover {
    background: hsl(212, 8%, 41%);
    color: hsl(0, 0%, 100%);
}

.context-menu a i {
    min-width: 1.6rem;
    height: auto;
    margin-right: .8rem;
    color: hsl(212, 8%, 41%);
}

.context-menu a:hover i {
    color: hsl(0, 0%, 100%);
}

.show {
    display: block;
}